
@media (max-width: 702px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 858px) {
    html {
        font-size: 10px;
    }
}



body {
	font-size: 2em; font-family: "Arial"; text-align: center;
	background-color: #f5f6fd;
}

xh1 { font-size: 3em; }
xh3 { font-size: 2.5em; }

.loading {
	position: fixed; top: 0; left: 0; right: 0; bottom: 0;
	padding-top: 4em; font-size: 3em;
	background-color: white;
}

.main { margin-top: 1.7em }
.main > div { margin-bottom: 1.5em; }
.main > div.bit2c-container { margin-bottom: 2.5em; }
.main > div > div { margin-bottom: 1em; }

.global-price-container { font-size: 1.5em; }
.global-price-usd { font-size: 0.75em; }
.global-price-note { font-size: 0.4em; color: #444; }

.cur { color: #caaf19; }
.cur:before { display: inline; content: '₪ '; }
.cur.usd:before { content: '$ '; }
.percent:after { display: inline; content: ' %'; }
.positive { color: green; }
.positive:before { content: '+'; }
.cur.positive:before { content: '₪ +'; }
.negative { color: red; }

.bit2c-buy, .bit2c-sell { font-size: 0.75em; }

a, a:visited, a:active { color: #3f8ef1; text-decoration: none; }
a:hover { text-decoration: underline; }

.diff-container { display: inline; font-size: 0.8em; }
.diff-container:before { content: '('; display: inline; }
.diff-container:after { content: ')'; display: inline; }

.footnotes { padding-top: 1.5em; border-top: 1px solid #BBB; max-width: 20em; margin: 0 auto; margin-top: 1.5em; }
.donate { margin-bottom: 1.5em; font-size: 0.75em; }
.address { font-size: 0.75em; }
