body {
	font-family: "Arial"; text-align: center;
	background-color: #f5f6fd;
}

xh1 { font-size: 3em; }
xh3 { font-size: 2.5em; }

.loading {
	position: fixed; top: 0; left: 0; right: 0; bottom: 0;
	padding-top: 4em; font-size: 3em;
}

.main { margin-top: 1.7em }
.main > div { margin-bottom: 1.5em; }
.main > div.bit2c-container { margin-bottom: 2.5em; }
.main > div > div { margin-bottom: 0.8em; }

.global-price-container { font-size: 1.5em; }
.global-price-usd { font-size: 0.75em; }
.global-price-note { font-size: 0.4em; color: #444; }

.cur { color: #caaf19; }
.cur:before { display: inline; content: '₪ '; }
.cur.usd:before { content: '$ '; }
.percent:after { display: inline; content: ' %'; }
.positive { color: green; }
.positive:before { content: '+'; }
.cur.positive:before { content: '₪ +'; }
.negative { color: red; }

a, a:visited, a:active { color: #3f8ef1; text-decoration: none; }
a:hover { text-decoration: underline; }

.diff-container { display: inline; font-size: 0.75em; }
.diff-container:before { content: '('; display: inline; }
.diff-container:after { content: ')'; display: inline; }

.footnotes { padding-top: 1.5em; border-top: 1px solid #BBB; max-width: 40em; margin: 0 auto; margin-top: 1.5em; }
.donate { margin-bottom: 1.5em; font-size: 0.75em; }
.github svg { width: 1.5em; height: 1.5em; }
.address { font-size: 0.75em; }

.updated { font-size: 0.55em; color: #444; margin-top: 20px; }
